$blue: rgb(0, 0, 238);
.app {
  text-align: center;
  position: relative;
}

.header {
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  .logo {
    height: 60px;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    a {
      text-decoration: none;
      color: black;
      padding: 0 10px;
      font-weight: 600;
      &.active {
        color: $blue;
      }
    }
  }
}
.map {
  height: calc(100vh - 60px);
}
.search {
  position: absolute;
  top: 130px;
  left: 10px;
  width: 350px;
  border-radius: 6px;
  display: flex;
  z-index: 5;
  background: white;
  min-height: 60px;
  flex-direction: column;
  img {
    height: 25px;
    padding: 0 5px;
  }
  .options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .option {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 100px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.16);
    &.active {
      background: $blue;
      color: white;
    }
    &:hover {
      background: $blue;
      color: white;
      cursor: pointer;
    }
  }
  .legend {
    max-height: 195px;
    overflow-y: scroll;
    section {
      border-bottom: 1px solid rgba(1, 1, 1, 0.07);
      ul {
        list-style: none;
        list-style: none;
        padding: 0 10px;
        text-align: left;
        li {
          display: flex;
          align-items: center;
        }
      }
    }
    .wheelchairs {
      border-top: 1px solid rgba(1, 1, 1, 0.07);
      li::before {
        display: block;
        width: 50px;
        // box-shadow: 0 7px 20px rgba(0, 0, 0, 0.16);
      }
      li.green::before {
        content: url('/icons/wheelchairs-green.svg');
      }
      li.red::before {
        content: url('/icons/wheelchairs-red.svg');
      }
      li.yellow::before {
        content: url('/icons/wheelchairs-yellow.svg');
      }
    }
    .stroller {
      li::before {
        display: block;
        width: 50px;
        // box-shadow: 0 7px 20px rgba(0, 0, 0, 0.16);
      }
      li.green::before {
        content: url('/icons/stroller_green.svg');
      }
      li.red::before {
        content: url('/icons/stroller_red.svg');
      }
      li.yellow::before {
        content: url('/icons/stroller_yellow.svg');
      }
    }
    .crutches {
      li::before {
        display: block;
        width: 50px;
        // box-shadow: 0 7px 20px rgba(0, 0, 0, 0.16);
      }
      li.green::before {
        content: url('/icons/crutches_green.svg');
      }
      li.red::before {
        content: url('/icons/crutches_red.svg');
      }
      li.yellow::before {
        content: url('/icons/crutches_yellow.svg');
      }
    }
    span {
      font-weight: 600;
    }
  }
}
